<!doctype html>
<html>
  <head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  <link rel="stylesheet" href="/static/main.css">
  </head>
  <body>
    <div class="header">
      <!-- icon -->
      <a class="home-icon" href="/">
        <img alt="home" src="https://cdn.discordapp.com/attachments/898324157786374154/1023341326760149112/home.png" width="30" height="30">
      </a>
      <a class="github-icon" href="https://github.com/wa1ker38552/moodbot">
        <img alt="github" src="https://media.discordapp.net/attachments/898324157786374154/1023359660281049108/github.png?width=422&height=422" width="30" height="30">
      </a>
      <a class="api-icon" href="/api">
        <img alt="api" src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/code-512.png" width="30" height="30">
      </a>
      <a class="download-icon" href="/download">
        <img alt="download" src="https://iili.io/s5FIig.png" width="30" height="30">
      </a>

      <!-- text -->
      <center>
        <span class="title"> Download Datasets </span>
      </center>
    </div>
    <!-- download buttons -->
    {% for data_set in data %}
    <a href="/downloads?file={{ data_set }}"> {{ data_set.replace('.json', '') }} </a>
    <br>
    {% endfor %}
  </body>
</html>
